# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml

# scala build folders
target

# dotfiles
.dockerignore
.editorconfig

# standalone docker
Dockerfile

# logs
*.log

# db files

*.data


# for temporary experiments
sheet.scala
examples/src/main/scala/examples/sigmastate/
examples/lib/