# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml

# Eclipse/Scala IDE files
.classpath
.project
.settings
.cache-main
.cache-tests
/bin/

# SBT's temporary files
.history

# scala build folders
target

# dotfiles
.dockerignore
.editorconfig

# standalone docker
Dockerfile

# logs
*.log

# db files

*.data


# for temporary experiments
sheet.scala
examples/src/main/scala/examples/sigmastate/
examples/lib/
