# IDE/Editor files
.idea
.ensime
.ensime_cache/
scorex.yaml

# scala build folders
target

# dotfiles
.dockerignore
.editorconfig

# standalone docker
Dockerfile

# logs
*.log

# db files

*.data


# for temporary experiments
sheet.scala

# example2 is not public atm
examples/src/main/scala/examples/hybrid
examples/src/test/scala/examples/hybrid