sudo: true
language: scala
jdk:
  - oraclejdk8
scala:
  - 2.12.3
script:
  - sbt "project examples" "test" && sbt test
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt"
after_success:
  - "[[ $TRAVIS_REPO_SLUG == \"ScorexFoundation/Scorex\" ]] && [[ $TRAVIS_BRANCH == \"master\" ]] && { sbt publish; } && { sbt \"project testkit\" publish; };"
# These directories are cached to S3 at the end of the build
before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
env:
  global:
  - secure: c+1zbvfSDi8Rdwehsq91CsBMqPsOQDJC5Y6+tBGyjQToHnsmO5iEvdcXfjFMh01Hz8P2TVVZoH2+NRVxkAnlLyWZMaJ6ex6FqfaCcbnYIbRQzOQIuQDN2sttm95NMhj8WBrO583DmqQyaPzBQ2pg6tDRLoDK/KBBCeCJcptag5eM6j/iSX1yRnaascyOJy++6afCPp//PN3a1Aow81E67IWgPINq0xwm4rPOvtt5VKtQBfYAfmQSViM6bvQw3eiFy/M/oanD0rb5gQWaHYVtWEJ5fOQmbGw+GKQloUshb7BQWzSYg5j9mAt95IFcl1MQXTe9oOt/gKsX4smDopFqb2ovFkLl9ZbaRu80tJ90CmLWZq/LE63Rtdqeil4Sd2xkxJyfNZMcdDuZZDleCm8qcVId/hBMiji4/Hm3DOO6JuUqhVwRo0Msr/PKV3/FxArWA2oRk7L9WvXaRI43kApB+uKZK4B25SOeSDKwUCs3lCB2uGerMeCcmkjKOeTbY37b9a4nlrrEbGLefslBnAS1z5J9VKuxAMdTv8A45p0apcNfRBMqAYEzEFHWFpwj5e5iAelYe++BPnOHzqE7ziA7EvtVAyAamyNQaluMfm//lAiWbLa7ZS1M9bclKFv8xjRhYNu2o9xexvXwG6nsh9taYJ25GBKI3ZoW/EsAQb/9sIU=
  - secure: Dbnj5qZHGWCOBNTj5K/V7m49+zGiITo0r9xOgDx9fgxGk4QhS5zDccUf69kH+mQEMrJi8Io0acnIP+hrF2Mi/TgbzIkJDi9kewQdLbMSuJy0GutTFZYPFUvQdM5ibfZ4g3ASr3/R2gCefSZ7mtxhOCzeeZhej+6UAtDQQvBDykF+PJDVxbYArTtnGWbtUqZKjKW6WH97oec2tJMQQ61HKJ8x8XeTIF7BDnEmVKvBXn3opM5R8K3mo5kIdqzEvb2yKtmOunGh6B6Ek2wHi3pLasJC1Tu3RaOP1nvF2/OXNuB0LbR74W9jldeFhqYQH513MhmYUv+ss41rT4zBAqIYZ9HmiNK9yASFNHa6uAzRg05IL0U4L1ILzfgG4xh7QsQBJ3PVwd//SW1lhEY3dqGbGrjTutrVXLMVy7O6EIqsfgZX9VS2IkFFW1LXg+JdX+NDxrKkRQSR1Lh4d5QamDSjUt7Gk5kZhKZYlRcvLs6GBd3G0oQaL5eI7uc0av0GHp44MHgpH9G3WE2lXqaoz5mSEaz+srh0CP8Zswj/Lpd39AdVcnUYzshQgBNn5UVRpp8EJNHc/yDtOx2vTMuNHxYOcrSRj9bPT7QsC9KJbWb5wNQoC5BepH+cjq0iph/8/vGxM/mf62qQDZtKTZfYO29aqqWpbzClImZLt6wxEJ8ESTs=
  - LOGGER_LEVEL=INFO
